$dark-100: #021074;
$dark-200: #313d91;
$dark-400: #5b65a7;
$dark-500: #0d148c;


$primary-100: #f3f9ff;
$primary-200: #c3dffc;
$primary-400: #68a5ff;
$primary-500: #3083ff;
$primary-600: #076bff;

$positive-100: #e1fbfc;
$positive-300: #5edbe2;
$positive-500: #00ccd7;
$positive-600: #00c1cc;

$light-100: #f7f9fb;
$light-200: #f4f6f7;
$light-300: #e4e7ec;
$light-400: #dfe3e7;
$light-600: #c2cad4;
$light-700: #9ba8b9;
$light-800: #7d8da4;
$light-900: #5f718b;

$neutral-100: #fff1d7;
$neutral-500: #ffb424;
$neutral-700: #fd9c0a;

$negative-100: #fff0f1;
$negative-200: #ffd6da;
$negative-300: #ff6a63;
$negative-500: #f23c57;
